server {

    listen 443 ssl; 
    ssl_certificate /etc/letsencrypt/live/{{ domain_name1 }}/fullchain.pem; 
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name1 }}/privkey.pem;
       root /var/www/{{ domain_name1 }};                                                                   
       index index.html;   

       location / {                                                                          
               try_files $uri $uri/ =404;                                                    
       }  

       location /api/sum/ {                                                                  
         proxy_pass http://{{ domain_name2 }}:8080;                                              
       }  
                                                                                              


}
